version: "3.9"

services:
  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - client
      - server
    networks:
      - fullstack-net

  server:
    build: ./Backend
    container_name: express-server
    expose:
      - "4000"
    networks:
      - fullstack-net
    restart: unless-stopped
    environment:
      - FRONTEND_URL=http://13.201.185.74

  client:
    build: ./Frontend
    container_name: react-client
    expose:
      - "3000"
    networks:
      - fullstack-net
    depends_on:
      - server
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge
